* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(/src/assets/books.jpg) center no-repeat;
    color:white;
}    

.search-button {
    background: url(/src/assets/loupe.png) contain;
}

.selects-wrapper {
    display: flex;
    margin: 20px 0;
}

.selects-wrapper form {
    overflow: hidden;
}

.search .search-button {
    margin-left: 5px;
}

.filter {
    margin-right: 10px;
}

.counter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
