* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.selects-wrapper {
    display: flex;
    margin: 20px 0;
}

.selects-wrapper form {
    overflow: hidden;
}

.filter {
    margin-right: 10px;
}

.counter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
