* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.form-wrapper {
    display: flex;
    margin: 20px 0;
}

.search .search-button {
    margin-left: 5px;
}

.filter {
    margin-right: 10px;
}

.counter {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.book {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
